[submodule "submodules/jz"]
	path = submodules/jz
	url = https://github.com/beryllium-org/jz
[submodule "submodules/CircuitPython_FTP_Server"]
	path = submodules/CircuitPython_FTP_Server
	url = https://github.com/beryllium-org/CircuitPython_FTP_Server
